<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./css/about.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img
          src="../images/porsche-logo-transparent-22.png"
          alt="Porsche Logo"
        />
      </div>

      <div class="bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Details</a></li>
          <li><a href="/gallery">Galery</a></li>
        </ul>
      </div>
    </div>

    <div class="sectionOne">
      <div class="headline">
        <h2>About the car</h2>
      </div>
      <div class="para">
        <p>
          The Porsche 918 Spyder is a limited-production mid-engine plug-in
          hybrid sports car manufactured by German automobile manufacturer
          Porsche. The 918 Spyder is powered by a naturally aspirated 4.6 L
          (4,593 cc) V8 engine, developing 447 kW (608 PS; 599 hp) at 8,700 rpm,
          with two electric motors delivering an additional 210 kW (286 PS; 282
          hp) for a combined output of 652 kW (887 PS; 875 hp) and 1,280 N⋅m
          (944 lbf⋅ft) of torque. The 918 Spyder's 6.8 kWh lithium-ion battery
          pack delivers an all-electric range of 19 km (12 mi) under the US
          Environmental Protection Agency's five-cycle tests. Production began
          on 18 September 2013, with deliveries initially scheduled to begin in
          December 2013, and a starting price of ~ €711,000 (US$945,000 or
          GB£711,000). The 918 Spyder was sold out in December 2014 and
          production ended in June 2015. The 918 Spyder was first shown as a
          concept at the 80th Geneva Motor Show in March 2010. On 28 July 2010,
          after 2,000 declarations of interest, the supervisory board of Porsche
          AG approved series development of the 918 Spyder. The production
          version was unveiled at the September 2013 Frankfurt Motor Show.
          Porsche also unveiled the RSR racing variant of the 918 at the 2011
          North American International Auto Show, which combines hybrid
          technology first used in the 997 GT3 R Hybrid, with styling from the
          918 Spyder. However, the 918 RSR didn't make it to production. The 918
          Spyder was the second plug-in hybrid car manufactured by Porsche,
          after the 2014 Panamera S E-Hybrid.
        </p>
      </div>
    </div>
  </body>
</html>
