<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galery</title>
    <link rel="stylesheet" href="./css/galery.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img
          src="../images/porsche-logo-transparent-22.png"
          alt="Porsche Logo"
        />
      </div>

      <div class="bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Details</a></li>
          <li><a href="/gallery">Galery</a></li>
        </ul>
      </div>
    </div>

    <div class="sectionOne">
      <img src="./images/wp2417842-porsche-918-spyder-wallpapers.jpg" />
      <img
        src="./images/wp2417847-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284716-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284715-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284711-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284704-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp2417852-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284691-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284670-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284673-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp2417857-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284698-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284458-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284415-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp4086533-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284415-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284307-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284309-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284688-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284469-porsche-918-spyder-desktop-wallpapers.jpg"
      /><img
        src="./images/wp6284688-porsche-918-spyder-desktop-wallpapers.jpg"
      />
      <img src="./images/wp6284458-porsche-918-spyder-desktop-wallpapers.jpg" />
    </div>
  </body>
</html>
