<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link rel="stylesheet" href="./css/works.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img
          src="../images/porsche-logo-transparent-22.png"
          alt="Porsche Logo"
        />
      </div>

      <div class="bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Details</a></li>
          <li><a href="/galery">Galery</a></li>
        </ul>
      </div>
    </div>

    <div class="sectionOne">
      <div class="headline"><h2>Details</h2></div>

      <div class="table">
        <div class="title">
          <h6>Manufacturer</h6>
          <h6>Assembly</h6>
          <h6>Designer</h6>
          <h6>Class</h6>
          <h6>Layout</h6>
          <h6>Engine</h6>
          <h6>Electric Motor</h6>
          <h6>Power output</h6>
          <h6>Transmission</h6>
          <h6>Range</h6>
        </div>

        <div class="details">
          <p>Porsche AG</p>
          <p>Germany: Stuttgart, Zuffenhausen</p>
          <p>Michael Mauer</p>
          <p>Sports Car (S)</p>
          <p>Mid-engine, all-wheel-drive</p>
          <p>4.6L Porsche MR6 V8</p>
          <p>2 electric motors on front and rear axle</p>
          <p>652 kW (887 PS; 875 hp)</p>
          <p>7-speed PDK dual-clutch</p>
          <p>680 kilometres (420 mi)</p>
        </div>
      </div>
    </div>
  </body>
</html>
